.main-header .navbar {
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1) !important;
}

.btn {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 1px 5px !important;
}

.btn-custom {
    background-color: transparent !important;
}

.box {
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
}

.panel {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;
    border: none;
}

.info-box {
    display: flex;
}

.panel-body {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    margin-bottom: 0 !important;
}